:root{
    --clr-lightred: hsla(0, 100%, 67%,0.1);
    --clr-orangeyyellow: hsla(39, 100%, 56%,0.1);
    --clr-greenteal: hsla(166, 100%, 37%,0.1);
    --clr-cobaltblue: hsla(234, 85%, 45%, 0.1);

    --bg-slateblue: hsl(252, 100%, 67%);
    --bg-persianblue: hsl(241, 81%, 54%);

    --clr-secondary-white: hsl(0, 0%, 100%);
    --clr-secondary-paleblue: hsl(225, 8%, 80%);
    --clr-secondary-lavender: hsl(241, 100%, 89%);
    --clr-secondary-grayblue: hsla(224, 30%, 27%,0.5);

    --fs: 1.125rem;
    --ff: "Hanken Grotesk", sans-serif;

    --fw-light : 500;
    --fw-bold: 700;
    --fw-bolder: 800;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display:grid;
    max-width: 30rem;
    width: 100%;

    height: 100%;
    max-height: 50rem;
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 1fr;
    font-family: var(--ff);
}

.topnleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%) );
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.result{
    font-size: 1.1rem;
    font-weight: var(--fw-bold);
    color: hsl(225, 8%, 80%);
}

.outofhundred{
    background-color: hsl(241, 97%, 60%, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 10rem;
    height: 10rem;
    border-radius: 6.25rem;
    flex-wrap: wrap;
    color: var(--clr-secondary-paleblue);
    font-weight: var(--fw-light);
    

}

.score{
    font-size: 4rem;
    font-weight: var(--fw-bolder);
    color: var(--clr-secondary-white);
}

.description{
    display: flex;
    flex-direction: column;
    color: var(--clr-secondary-paleblue);
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    flex-wrap: wrap;
}

.grade{
    font-size: 2rem;
    color: white;
    font-weight: var(--fw-bolder);
}

.bottomnright{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 1rem;
}

.summary{
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    color: hsl(224, 30%, 27%);
}

.reaction{
    display: flex;
    font-weight: var(--fw-bold);
    background-color: var(--clr-lightred);
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.meh{
    margin-left: auto;
}

.hundred{
    color: var(--clr-secondary-grayblue);
}

.memory{
    display: flex;
    font-weight: var(--fw-bold);
    background-color: var(--clr-orangeyyellow);
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.verbal{
    display: flex;
    font-weight: var(--fw-bold);
    background-color: var(--clr-greenteal);
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.visual{
    display: flex;
    font-weight: var(--fw-bold);
    background-color: var(--clr-cobaltblue);
    padding: 1rem 1rem;
    border-radius: 1rem;
    
}

.fun{
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}

.button{
  width: 25rem;
  height: 4rem;
  border-radius: 2rem;
  border: 0;
  color: white;
  background-color: hsl(224, 30%, 27%);
}

.button:hover{
  cursor: pointer;
}

@media (min-width: 500px){
  .container{
    display:grid;
    max-width: 50rem;
    width: 100%;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    border-radius: 2rem;

    max-height: 30rem;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr  1fr;
    font-family: var(--ff);
}

.topnleft{
  border-radius: 2rem;
}
.outofhundred{
  margin-bottom: 1rem;
  margin-top: 5rem;
}
}